.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    color: #777;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: solid 2px;
}
.info h5, h6 {
    margin: 0 0 5px;
}

.dropdown-menu {
    z-index: 1001;
}

body{
    margin-bottom: 10vh;
}

#footer {
    position: fixed;
    height: 10vh;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#footer > .container {
    height: 10vh;
}

#footer > .container > .row {
    height: 10vh;
}

#alert-container {
    margin-top:10px;
    margin-left: auto;
    position: fixed;
    z-index: 9999;
}

#alert {
    left: 0;
    position: fixed;
    margin-right: 10px;
    margin-left: 10px;
    display: none;
}